        <aside class="doc-toc">
            <div class="doc-toc__inner">
                <div class="doc-toc__title" id="docTocToggle">Содержание <span class="doc-toc__caret">&#9662;</span></div>
                <input type="search" class="doc-toc__search" id="docSearch" placeholder="Поиск по документации…" autocomplete="off">
                <div class="doc-toc__count" id="docSearchCount"></div>
                <nav>
                    <a href="#intro" class="doc-toc__link">0. Где мы сейчас находимся</a>
                    <a href="#start" class="doc-toc__link">1. Дашборд</a>
                    <a href="#entities" class="doc-toc__link">2. Сущности</a>
                    <a href="#ent-catalog" class="doc-toc__link doc-toc__link--sub">2.1. Каталог</a>
                    <a href="#ent-catalog-group" class="doc-toc__link doc-toc__link--sub">2.2. Группа каталога</a>
                    <a href="#ent-catalog-item" class="doc-toc__link doc-toc__link--sub">2.3. Продукт</a>
                    <a href="#ent-catalog-item-image" class="doc-toc__link doc-toc__link--sub">2.4. Изображение продукта</a>
                    <a href="#ent-catalog-characteristic" class="doc-toc__link doc-toc__link--sub">2.5. Характеристика каталога</a>
                    <a href="#ent-catalog-item-characteristic" class="doc-toc__link doc-toc__link--sub">2.6. Характеристика продукта</a>
                    <a href="#ent-service-group" class="doc-toc__link doc-toc__link--sub">2.7. Группа услуг</a>
                    <a href="#ent-service" class="doc-toc__link doc-toc__link--sub">2.8. Услуга</a>
                    <a href="#ent-user-order" class="doc-toc__link doc-toc__link--sub">2.9. Заказ</a>
                    <a href="#ent-user-order-item" class="doc-toc__link doc-toc__link--sub">2.10. Позиция заказа</a>
                    <a href="#ent-cart" class="doc-toc__link doc-toc__link--sub">2.11. Корзина</a>
                    <a href="#ent-user" class="doc-toc__link doc-toc__link--sub">2.12. Клиент</a>
                    <a href="#ent-favorite" class="doc-toc__link doc-toc__link--sub">2.13. Избранное</a>
                    <a href="#ent-compare" class="doc-toc__link doc-toc__link--sub">2.14. Сравнение</a>
                    <a href="#ent-feedback" class="doc-toc__link doc-toc__link--sub">2.15. Отзыв с карты</a>
                    <a href="#ent-history" class="doc-toc__link doc-toc__link--sub">2.16. История изменений</a>
                    <a href="#ent-user-token" class="doc-toc__link doc-toc__link--sub">2.17. Токен</a>
                    <a href="#utils" class="doc-toc__link">3. Утилиты</a>
                    <a href="#util-sort" class="doc-toc__link doc-toc__link--sub">3.1. Окно сортировки</a>
                    <a href="#util-selects" class="doc-toc__link doc-toc__link--sub">3.2. Связанные списки</a>
                    <a href="#util-ckeditor" class="doc-toc__link doc-toc__link--sub">3.3. Редактор описаний</a>
                    <a href="#util-images" class="doc-toc__link doc-toc__link--sub">3.4. Загрузка изображений</a>
                    <a href="#util-lists" class="doc-toc__link doc-toc__link--sub">3.5. Приёмы в списках</a>
                    <a href="#scenarios" class="doc-toc__link">4. Сценарии: типичные задачи</a>
                    <a href="#errors" class="doc-toc__link">5. Справочник ошибок</a>
                    <a href="#emails" class="doc-toc__link">6. Письма сайта</a>
                    <a href="#sitemap" class="doc-toc__link">7. Админка → сайт</a>
                    <a href="#admins" class="doc-toc__link">8. Аккаунты администраторов</a>
                    <a href="#danger" class="doc-toc__link">9. Опасные действия</a>
                    <a href="#help" class="doc-toc__link">10. Если что-то сломалось</a>
                    <a href="#glossary" class="doc-toc__link">11. Глоссарий</a>
                    <a href="#site" class="doc-toc__link">12. Гайд по сайту (витрине)</a>
                    <a href="#site-visibility" class="doc-toc__link doc-toc__link--sub">12.1. Правила видимости</a>
                    <a href="#site-home" class="doc-toc__link doc-toc__link--sub">12.2. Главная страница</a>
                    <a href="#site-nav" class="doc-toc__link doc-toc__link--sub">12.3. Меню, поиск, футер</a>
                    <a href="#site-catalog" class="doc-toc__link doc-toc__link--sub">12.4. Каталог и фильтры</a>
                    <a href="#site-product" class="doc-toc__link doc-toc__link--sub">12.5. Страница товара</a>
                    <a href="#site-services" class="doc-toc__link doc-toc__link--sub">12.6. Услуги</a>
                    <a href="#site-cart" class="doc-toc__link doc-toc__link--sub">12.7. Корзина, избранное, сравнение</a>
                    <a href="#site-checkout" class="doc-toc__link doc-toc__link--sub">12.8. Заказ и личный кабинет</a>
                    <a href="#site-forms" class="doc-toc__link doc-toc__link--sub">12.9. Формы заявок</a>
                </nav>
            </div>
        </aside>
