sylius_grid:
    grids:
        app_admin_catalog_item:
            driver:
                name: doctrine/orm
                options:
                    class: App\Entity\CatalogItem
            sorting:
                position: asc
            filters:
                name:
                    type: string
                    label: Название
                price:
                    type: money
                    label: Цена
                    options: { currency: 'RUB'}
                catalog:
                    type: entity
                    label: Каталог
                    options:
                        fields: [ catalog ]
                    form_options:
                        class: App\Entity\Catalog
                        choice_label: name
            fields:
                image:
                    type: twig
                    label: Изобр.
                    path: .
                    sortable: ~
                    options:
                        template: "admin/grid/field/image.html.twig"
                position:
                    type: string
                    label: Позиция
                    sortable: ~
                name:
                    type: string
                    label: Название
                    sortable: ~
                price:
                    type: twig
                    label: Цена
                    options:
                        template: 'admin/field/money.html.twig'
                catalog:
                    type: twig
                    label: Каталог
                    path: .
                    sortable: catalog.name
                    options:
                        template: 'admin/grid/field/catalog.html.twig'
            actions:
                main:
                    create: { type: create }
                item:
                    update: { type: update }
                    delete: { type: delete }
                    

        app_admin_catalog:
            driver:
                name: doctrine/orm
                options:
                    class: App\Entity\Catalog
            filters:
                name:
                    type: string
                    label: Название
                product_code:
                    type: string
                    label: Код продукта
            fields:
                name:
                    type: string
                    label: Название
                    sortable: ~
                product_code:
                    type: string
                    label: Код продукта
                    sortable: ~
            
            actions:
                main:
                    create: { type: create }
                item:
                    update: { type: update }
                    delete: { type: delete }
                    show_catalog_items:
                        type: default
                        label: Товары
                        template: "admin/grid/action/show_catalog_items.html.twig"
                        options:
                            route_to_item: app_admin_catalog_item_index


        app_admin_catalog_characteristic:
            driver:
                name: doctrine/orm
                options:
                    class: App\Entity\CatalogCharacteristic
            filters:
                name:
                    type: string
                    label: Название
                catalog:
                    type: entity
                    label: Каталог
                    options:
                        fields: [ catalog ]
                    form_options:
                        class: App\Entity\Catalog
                        choice_label: name
            fields:
                name:
                    type: string
                    label: Название
                    sortable: ~
                catalog:
                    type: twig
                    label: Каталог
                    path: .
                    sortable: catalog.name
                    options:
                        template: 'admin/grid/field/catalog.html.twig'
            actions:
                main:
                    create: { type: create }
                item:
                    update: { type: update }
                    delete: { type: delete }

        app_admin_catalog_item_characteristic:
            driver:
                name: doctrine/orm
                options:
                    class: App\Entity\CatalogItemCharacteristic
            filters:
                catalog:
                    type: entity
                    label: Продукт
                    options:
                        fields: [ catalog_item ]
                    form_options:
                        class: App\Entity\CatalogItem
                        choice_label: name
                catalog_characteristic:
                    type: entity
                    label: Характеристика продукта
                    options:
                        fields: [ catalog_characteristic ]
                    form_options:
                        class: App\Entity\CatalogCharacteristic
                        choice_label: name
            fields:
                catalog:
                    type: twig
                    label: Продукт
                    path: .
                    sortable: catalog_item.name
                    options:
                        template: 'admin/grid/field/catalogItem.html.twig'
                catalog_characteristic:
                    type: twig
                    label: Характеристика каталога
                    path: .
                    sortable: catalog_characteristic.name
                    options:
                        template: 'admin/grid/field/catalogCharacteristic.html.twig'
            actions:
                main:
                    create: { type: create }
                item:
                    update: { type: update }
                    delete: { type: delete }
        
        app_admin_catalog_group:
            driver:
                name: doctrine/orm
                options:
                    class: App\Entity\CatalogGroup
            filters:
                catalog:
                    type: entity
                    label: Каталог
                    options:
                        fields: [ catalog ]
                    form_options:
                        class: App\Entity\Catalog
                        choice_label: name
            fields:
                name:
                    type: string
                    label: Название
                    sortable: ~
                catalog:
                    type: twig
                    label: Каталог
                    path: .
                    sortable: catalog.name
                    options:
                        template: 'admin/grid/field/catalog.html.twig'
            actions:
                main:
                    create: { type: create }
                item:
                    update: { type: update }
                    delete: { type: delete }
