
services:
  # --- PHP Backend (Sylius) ---
  app:
    build: .
    volumes:
      - .:/var/www/html:cached
    environment:
      APP_ENV: dev
      # Пароль БД 'sylius', хост 'database'
      DATABASE_URL: postgresql://sylius:sylius@database:5432/sylius?serverVersion=15&charset=utf8
    depends_on:
      - database

  # --- Web Server (Nginx) ---
  web:
    image: nginx:alpine
    ports:
      - "8000:80"  # Доступ к сайту: http://localhost:8000
    volumes:
      - .:/var/www/html:cached
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  # --- Database (PostgreSQL) ---
  database:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: sylius
      POSTGRES_USER: sylius
      POSTGRES_PASSWORD: sylius
    ports:
      - "5433:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  # --- Frontend (Nuxt) ---
  client:
    image: node:20-alpine
    working_dir: /app
    volumes:
      # Идем на уровень выше (..) и берем папку volt12-client
      - ../volt12-client:/app:cached
      # Исключаем локальную node_modules, пусть будет своя внутри контейнера
      - /app/node_modules
    ports:
      - "3000:3000" # Доступ к фронту: http://localhost:3000
    # Команда запуска фронтенда (установка + дев сервер)
    command: sh -c "yarn install && yarn dev -o"
    environment:
      # API находится в сервисе 'web', порт 80 (внутренний)
      NUXT_PUBLIC_API_BASE: http://web

volumes:
  db-data:
