{% set item = data %}

{% if item.imgLink is not empty %}
    <img src="{{ asset(item.imgLink) }}"
         alt="{{ item.name }}"
         class="ui image rounded"
         style="max-height: 50px; max-width: 80px; object-fit: cover;"
    />
{% else %}
    <span class="ui label mini basic">Нет фото</span>
{% endif %}
