{% if data.user is not null %}
    <a href="{{ path('app_admin_user_update', {'id': data.user.id}) }}"
       style="text-decoration: none;">{{ data.user.name }} ({{ data.user.email }})
    </a>
{% else %}
    <span style="color: grey">-</span>
{% endif %}
