parameters:
    catalog_items_directory: '%kernel.project_dir%/public/uploads/items'

services:
    _defaults:
        autowire: true
        autoconfigure: true
    
    App\Controller\Admin\CatalogItemCharacteristicController:
        tags: [ 'controller.service_arguments' ]
    
    App\Service\Volt12\CatalogService:
        autowire: true

    App\Controller\Volt12\CatalogController:
        tags: [ 'controller.service_arguments' ]
        arguments:
            $catalogService: '@App\Service\Volt12\CatalogService'
    
    App\Service\Volt12\CatalogItemService:
        autowire: true

    App\Controller\Volt12\CatalogItemController:
        tags: [ 'controller.service_arguments' ]
        arguments:
            $catalogItemService: '@App\Service\Volt12\CatalogItemService'
        
    App\Service\Volt12\CatalogCharacteristicService:
        autowire: true
    
    App\Controller\Volt12\CatalogCharacteristicController:
        tags: [ 'controller.service_arguments' ]
        arguments:
            $catalogCharacteristicService: '@App\Service\Volt12\CatalogCharacteristicService'
    
    App\Menu\CatalogItemMenuListener:
        tags:
            - { name: kernel.event_listener, event: sylius.menu.admin.main, method: addToMain }

    App\Menu\CatalogMenuListener:
        tags:
            - { name: kernel.event_listener, event: sylius.menu.admin.main, method: addToMain }

    App\Menu\CatalogCharacteristicMenuListener:
        tags:
            - { name: kernel.event_listener, event: sylius.menu.admin.main, method: addToMain }

    App\Menu\CatalogItemCharacteristicMenuListener:
        tags:
            - { name: kernel.event_listener, event: sylius.menu.admin.main, method: addToMain }

    App\Menu\CatalogGroupMenuListener:
        tags:
            - { name: kernel.event_listener, event: sylius.menu.admin.main, method: addToMain }

    App\Service\ImageUploader:
        arguments:
            $targetDirectory: '%catalog_items_directory%'

    App\EventListener\CatalogItemListener:
        tags:
            - { name: doctrine.orm.entity_listener }


    App\Form\Type\CatalogItemCharacteristicType:
        tags: [ 'form.type' ]
        autowire: true
