parameters:
    catalog_items_directory: '%kernel.project_dir%/public/uploads/items'

services:
    _defaults:
        autowire: true
        autoconfigure: true
    
    App\Menu\CatalogItemMenuListener:
        tags:
            - { name: kernel.event_listener, event: sylius.menu.admin.main, method: addToMain }

    App\Menu\CatalogMenuListener:
        tags:
            - { name: kernel.event_listener, event: sylius.menu.admin.main, method: addToMain }

    App\Menu\CatalogCharacteristicMenuListener:
        tags:
            - { name: kernel.event_listener, event: sylius.menu.admin.main, method: addToMain }

    App\Menu\CatalogItemCharacteristicMenuListener:
        tags:
            - { name: kernel.event_listener, event: sylius.menu.admin.main, method: addToMain }

    App\Menu\GroupCharacteristicMenuListener:
        tags:
            - { name: kernel.event_listener, event: sylius.menu.admin.main, method: addToMain }

    App\Service\ImageUploader:
        arguments:
            $targetDirectory: '%catalog_items_directory%'

    App\EventListener\CatalogItemListener:
        tags:
            - { name: doctrine.orm.entity_listener }
